.btn-inserir {
    color: #ffffff;
    background-color: #3c8dbc;
    border-color: #3c8dbc;
    box-shadow: none;
  }
  
  .btn-inserir:hover {
    color: #ffffff;
    background-color: #367fa9;
    border-color: #367fa9;
  }

  .nav-personalizate{
    color: #ffffff!important;
  }

  .menu-personalizate{
    background-color: #357ca5!important;
    padding-left: 30px!important;
  }

  .modal-personalizate {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px!important;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
  }

  .transition-menu {
    transition: none!important;
  }

  .modal-footer-personalizate {
    border-top: none!important;
  }

  .btn-personalizate {
    width: 72px!important;
  }

  .input-readonly {
    background-color: #ffffff!important;
    border: #ffffff!important;
    
  }